# lp:
#poetry.lock
**/img/badge_*
*.ansi
*.egg-info/
*.lp.py
*.py[cod]
.coverage*
.idea/
.mypy_cache/
.pytest_cache/
.resources.json
.venv/
CREDITS.md
__pycache__/
build/
dist/
docs/autodocs
docs/features/literate_programming.md
docs/features/lp/plugs*
docs/icons_diagrams*
docs/lcd
docs/lcd*
docs/theme
foo
pip-wheel-metadata/
public
r
r.py
site/
src/lcdoc/mkdocs/lp/plugs/python/pyplugs/mpl_pyplot/docs/img/testplot.svg
tmp
tmpf
