.idea/
__pycache__/
*.py[cod]
*.res.py
*.ansi
dist/
**/img/badge_*
docs/lcd*
public
tmp
docs/theme
*.egg-info/
build/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
site/
#poetry.lock
.venv/
docs/autodocs
.resources.json
# lp:
docs/features/literate_programming.md

docs/lcd
CREDITS.md
foo
r
r.py
