# How this works

## Problem

We want the macros plugin, which works with jinja. But this ALSO works with jinja - with different
contexts. Also the md files are in docs and mkdocs build complains that not linked in nav.

SO: we name them NOT .md - and on the fly create a dir at doc pp --gen_change_log.
